/*Este es mi css*/
*{
    font-family: Arial;
}
.row{
    margin: 0;
}
img{
    height: 40px;
}
nav{
    background-color: white;
/*    color: white;
    text-align: center;*/
}
.contenido{
    background-color: #007FC8;
    height: 800px;
}
.agregar{
    border-radius: 10px;
    padding: 8px 4px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #009FDF;
    color: #009FDF;
}
.agregar:hover{
    border: 2px solid white;
    color: white;
}
.inputLista{
    border-radius: 6px;
    border: 1px solid ;
    padding: 8px 4px;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}
.agregarNuevo{
    border-radius: 6px;
    margin: 5px;
}
.divPost{
    border-radius: 6px;
    border: 2px solid #009FDF;
    font-size: 14px;
    margin: 10px;
    background-color: #009FDF;
    display: block;
}