/*Css para Trello*/
*{
    font-family: Arial;
}
body{
    background-color: #0084D7;
}
.row{
    margin: 0;
}
img{
    height: 50px;
}
nav{
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    width: 100%;
}
.contenido{
    padding: 10px;
    overflow-x: auto;
}
.perfil{
    background-color: #0084D7;
    border-radius: 9px;
    padding: 4px;
    margin: 10px;
    color: #E7E9EB;
    font-weight: bold;
    font-size: 17px;
}
.perfil img{
    padding-right: 5px;
}
.logo{
    padding: 10px;
}
.agregar{
    border-radius: 10px;
    padding: 8px 4px;
    font-size: 16px;
    text-align: color: #000;enter;
    margin-top: 100px;
    background-color: #0084D7;
    color: white;
    font-weight: bold;
}
.agregar:hover{
    background-color: #006BA9;
    color: white;
}
.inputLista{
    border-radius: 6px;
    border: 1px solid ;
    padding: 8px 4px;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}
.agregarNuevo{
    border-radius: 6px;
    margin: 3px;
}
.divPost{
    border-radius: 6px;
    font-size: 14px;
    margin-top: 10px;
    background-color: #E2E4E6;
    display: block;
    margin-right: 10px;
}
.divPost p{
    color: black;
    font-weight: bold;
    padding: 2px;
    word-wrap: break-word; 
}
.btn-añadir{
    width: 100%;
    margin: 5px 5px 10px 0;
}
.btn-añadir:hover{
    background-color: #c1C3C4;
}
textarea{
    border-radius: 6px;
    padding: 5px;
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #000000;
    scrollbar-arrow-color: #000066;
    scrollbar-base-color: #000033;
    scrollbar-dark-shadow-color: #336699;
    crollbar-track-color: #666633;
    scrollbar-face-color: #cc9933;
    scrollbar-shadow-color: #DDDDDD;
    scrollbar-highlight-color: #CCCCCC;
}
textarea:hover{
    background-color: white;
}
